 <center>IRONHACK - TURMA 90</center>

 <center>Projeto obrigatório : Shark Attack </center>

# Visualização dos Dados

In [459]:
import pandas as pd
import numpy as np
import re
import os

In [460]:
# Importar dataset
shark = pd.read_csv(r'C:\Users\fezin\Desktop\IRONHACK\Projetos\Projeto_Shark_Attack\attacks.csv', encoding = 'latin-1')

In [461]:
# Visualização do dataset
shark.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [462]:
#Tratamento para ver todas as colunas
pd.set_option('display.max_columns', None)
shark.head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

In [463]:
# Visualizando os tipos
shark.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

# Limpeza dos Dados

## Verificação de dados ausentes/nulos

**1) Shape**: informar a quantidade de linhas e colunas; <br>
**2) Soma** to total de células sem dados ou nulos;<br>
**3) Lista** de colunas com valores ausentes; e <br>
**4) Porcentagem** dos valores que estão faltando por colunas.

In [464]:
# 1) Total de linhas e colunas do dataset
shark.shape

(25723, 24)

In [465]:
# 2) Total de valores ausentes (488.276)
shark.isnull().sum().sum()

488276

In [466]:
# 3) Lista das colunas com valores ausentes
shark.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [467]:
# 4) Porcentagem de valores que estão faltando
shark.isna().mean()

Case Number               0.661704
Date                      0.755005
Year                      0.755083
Type                      0.755161
Country                   0.756949
Area                      0.772694
Location                  0.775998
Activity                  0.776154
Name                      0.763169
Sex                       0.776970
Age                       0.865062
Injury                    0.756094
Fatal (Y/N)               0.775959
Time                      0.885394
Species                   0.865335
Investigator or Source    0.755666
pdf                       0.755005
href formula              0.755044
href                      0.755005
Case Number.1             0.755005
Case Number.2             0.755005
original order            0.754733
Unnamed: 22               0.999961
Unnamed: 23               0.999922
dtype: float64

Pela análise acima, é possível identificar que as colunas `Unnamed: 22`, `Unnamed: 22`, `original order`, `Case Number.1` e `Case Number.2` estão praticamente vazias. <br>
<br>
Como não serão colunas importantes para responder perguntas que este trabalho se propõe, o código seguinte resolve:
<br>

In [468]:
# Para essa análise, vai ser usado somente as colunas de Date até Species 
shark = shark.loc[:,"Case Number":"Species "]
shark.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN

## Necessário também remover linhas vazias

In [469]:
# Agora o restante dos valores nulos podem ser removidos
remov_rows = shark.dropna(how='all', inplace=True)

In [470]:
shark.shape

(8703, 15)

## Limpeza a coluna `Year`

In [471]:
# Quantos valores estão na coluna 'Case Number'
len(set(shark['Case Number']))

6288

In [472]:
# Quantos valores estão na coluna 'Year'
len(set(shark['Year']))

2652

Como a coluna **'Year'** é uma coluna fundamental para esta análise, será necessário inspecioná-la

In [473]:
# Verificando valores unicos
shark['Year'].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

Será necessário transformá-la em int64 e verificar os valores:

In [474]:
# Transformando a coluna 'Year' de float64 para int64 com o método 'astype'
shark = shark.fillna(0)
shark.Year.astype(int)
shark['Year'] = shark['Year'].astype('int64')

In [475]:
shark.shape

(8703, 15)

In [476]:
# Verificando o tipo
shark['Year'].dtypes

dtype('int64')

In [477]:
# Verificando valores unicos
shark['Year'].unique()

array([2018, 2017,    0, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009,
       2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998,
       1997, 1996, 1995, 1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969,
       1988, 1987, 1986, 1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977,
       1976, 1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965,
       1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954,
       1953, 1952, 1951, 1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944,
       1943, 1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933,
       1932, 1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922,
       1921, 1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911,
       1910, 1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900,
       1899, 1898, 1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889,
       1888, 1887, 1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878,
       1877, 1876, 1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867,
       1866, 1865, 1864, 1863, 1862, 1861, 1860, 1859, 1858, 1857, 1856,
       1855, 1853, 1852, 1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842,
       1841, 1840, 1839, 1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829,
       1828, 1827, 1826, 1825, 1823, 1822, 1819, 1818, 1817, 1816, 1815,
       1812, 1811, 1810, 1808, 1807, 1805, 1804, 1803, 1802, 1801, 1800,
       1797, 1792, 1791, 1788, 1787, 1786, 1785, 1784, 1783, 1780, 1779,
       1776, 1771, 1767, 1764, 1758, 1753, 1751, 1749, 1755, 1748, 1742,
       1738, 1733, 1723, 1721, 1703, 1700, 1642, 1638, 1637, 1617, 1595,
       1580, 1555, 1554, 1543,  500,   77,    5], dtype=int64)

In [478]:
# Limpeza da coluna 'Year' para apenas ficar dados depois de 1543
shark = shark[shark['Year'] >= 1543]
shark['Year'].unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988,
       1987, 1986, 1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943,
       1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932,
       1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,
       1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910,
       1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899,
       1898, 1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888,
       1887, 1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877,
       1876, 1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866,
       1865, 1864, 1863, 1862, 1861, 1860, 1859, 1858, 1857, 1856, 1855,
       1853, 1852, 1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841,
       1840, 1839, 1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828,
       1827, 1826, 1825, 1823, 1822, 1819, 1818, 1817, 1816, 1815, 1812,
       1811, 1810, 1808, 1807, 1805, 1804, 1803, 1802, 1801, 1800, 1797,
       1792, 1791, 1788, 1787, 1786, 1785, 1784, 1783, 1780, 1779, 1776,
       1771, 1767, 1764, 1758, 1753, 1751, 1749, 1755, 1748, 1742, 1738,
       1733, 1723, 1721, 1703, 1700, 1642, 1638, 1637, 1617, 1595, 1580,
       1555, 1554, 1543], dtype=int64)

## Renomeando as colunas `Sex` e `Species`

In [479]:
# Tratamento: Removendo os espaços das colunas e renomeando Sex para Genero
shark = shark.rename(columns={'Sex ':'Genero','Species ':'Species'})

In [480]:
shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Genero', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species'],
      dtype='object')

## Tratando a coluna `Genero`

In [481]:
# Será necessário mudar os nomes 'F' -> "Feminino", 'M' ou 'M ' -> 'Masculino' e 0, 'lli', 'N' e '.' -> Desconhecido
shark['Genero'].unique()

array(['F', 'M', 0, 'M ', 'lli', 'N', '.'], dtype=object)

In [482]:
# removendo o espaço da string 'M '
shark['Genero'] = shark['Genero'].str.replace(' ', '', regex=True)

In [483]:
# 'M ' removido
shark['Genero'].value_counts()

M      4987
F       624
N         2
lli       1
.         1
Name: Genero, dtype: int64

In [484]:
#Localizar a string 'lli'
shark.loc[shark['Genero']=='lli']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Genero,Age,Injury,Fatal (Y/N),Time,Species
1624,2004.11.11.b,11-Nov-2004,2004,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Brian Kang,lli,38,"Lacerations to hand, knee & thigh",N,13h30,5.5 m [18'] white shark

In [485]:
# Mudando os nomes das strings 'M', 'F', 'N', 'lli' e '.'
# Valore nan para 'Unknonw'
shark['Genero'] = shark['Genero'].fillna("Unknown")

# Valores 'M', 'lli', 'N' para 'Male  
shark['Genero']=shark['Genero'].str.replace('M', 'Male', regex=True)
shark['Genero']=shark['Genero'].str.replace('N', 'Male', regex=True)
shark['Genero']=shark['Genero'].str.replace('lli', 'Male', regex=True)

# Valor 'F' para 'Female'
shark['Genero']=shark['Genero'].str.replace('F', 'Female', regex=True)
# Valor '.' para 'Unknown'
shark['Genero']=shark['Genero'].str.replace('.', 'Unknown', regex=True)
shark['Genero'].unique()

array(['Female', 'Male', 'Unknown'], dtype=object)

In [486]:
shark['Genero'].value_counts()

Male       4990
Female      624
Unknown     558
Name: Genero, dtype: int64

## Tratando a coluna `Fatal (Y/N)`

In [487]:
# Removendo espaços
shark['Fatal (Y/N)'] = shark['Fatal (Y/N)'].str.replace(' ', '', regex=True)

In [488]:
shark.loc[shark['Fatal (Y/N)']=='M']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Genero,Age,Injury,Fatal (Y/N),Time,Species
285,2016.04.18.b,18-Apr-2016,2016,Provoked,FRENCH POLYNESIA,Tuamotos,Makemo Atoll,Spearfishing,Hoata Iotua,Male,22,Laceration to knee by speared shark PROVOKED I...,M,Morning,"Grey reef shark, 2 m"

In [489]:
shark['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', 'y'], dtype=object)

In [490]:
# Valore nan para 'Unknonw'
shark['Fatal (Y/N)'] = shark['Fatal (Y/N)'].fillna('Not Confirmed')

In [491]:
# Removendo espaços, typo e etc
shark['Fatal (Y/N)']=shark['Fatal (Y/N)'].str.replace('2017', 'Not Confirmed', regex=True)
shark['Fatal (Y/N)']=shark['Fatal (Y/N)'].str.replace('M', 'N', regex=True)
shark['Fatal (Y/N)']=shark['Fatal (Y/N)'].str.replace('y', 'Y', regex=True)

In [492]:
shark['Fatal (Y/N)'].value_counts()

N                4236
Y                1328
Not Confirmed     538
UNKNOWN            70
Name: Fatal (Y/N), dtype: int64

# Análise dos Dados

## Entre 1543 e 2018, qual o ano foi registrado mais ataques?

In [493]:
shark['Year'].value_counts().reset_index().rename(columns= {'Year': 'Count', 'index':'Year'}).head(5)

   Year  Count
0  2015    143
1  2017    136
2  2016    130
3  2011    128
4  2014    127

## Entre 1543 e 2018, qual país registrou mais ocorrências de ataques?

In [494]:
#shark.groupby(by='Country')['Year'].value_counts()
shark['Country'].value_counts().reset_index().rename(columns= {'Country': 'Count', 'index':'Country'}).head(5)

            Country  Count
0               USA   2212
1         AUSTRALIA   1320
2      SOUTH AFRICA    571
3  PAPUA NEW GUINEA    130
4       NEW ZEALAND    127

## Entre 1543 e 2018, qual gênero sofreu mais ataques?

In [495]:
shark['Genero'].value_counts().reset_index().rename(columns= {'Genero': 'Count', 'index':'Genero'}).head(5)

    Genero  Count
0     Male   4990
1   Female    624
2  Unknown    558

##  Visto que o ano onde teve mais ataques foi 2015:

Agrupando a coluna `Year` e salvando em um novo dataframe `shark_2015`

In [496]:
# Filtrar por país e adicionar a um novo dataframe chamado shark_2015
shark_2015 = shark.groupby(by='Year').get_group(2015)

###  Qual o país teve mais ocorrências de ataques?

In [497]:
shark_2015['Country'].value_counts().reset_index().rename(columns= {'Country': 'Count', 'index':'Country'}).head(5)

            Country  Count
0               USA     73
1         AUSTRALIA     31
2      SOUTH AFRICA     10
3           REUNION      4
4  FRENCH POLYNESIA      4

### Qual a espécie que mais atacou?<br>

Tratando a coluna `Species`

In [498]:
# Tratamento da coluna 'Species'
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(white shark).*', 'white shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(bull shark).*', 'bull shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(tiger shark).*', 'tiger shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(mako shark).*', 'mako shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(small shark).*', 'small shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(small nurse shark).*', 'small shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(wobbegong shark).*', 'wobbegong shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(bronze whaler shark).*', 'bronze whaler shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(blue shark).*', 'blue shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(blacktip shark).*', 'blacktip shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(blacktip reef shark).*', 'blacktip shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(hammerhead shark).*', 'hammerhead shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(spinner shark).*', 'spinner shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(hammerhead sp).*', 'hammerhead shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(raggedtooth shark).*', 'raggedtooth shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(silky shark).*', 'silky shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(juvenile shark).*', 'juvenile shark', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(4).*', 'shark not confirmed', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(shark involvement not confirmed).*', 'shark not confirmed', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(6).*', 'shark not confirmed', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(5).*', 'shark not confirmed', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(9).*', 'shark not confirmed', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(1).*', 'shark not confirmed', regex=True)
shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(3).*', 'shark not confirmed', regex=True)

C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(white shark).*', 'white shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(bull shark).*', 'bull shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(tiger shark).*', 'tiger shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(mako shark).*', 'mako shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(small shark).*', 'small shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(small nurse shark).*', 'small shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(wobbegong shark).*', 'wobbegong shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(bronze whaler shark).*', 'bronze whaler shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(blue shark).*', 'blue shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(blacktip shark).*', 'blacktip shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(blacktip reef shark).*', 'blacktip shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(hammerhead shark).*', 'hammerhead shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(spinner shark).*', 'spinner shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(hammerhead sp).*', 'hammerhead shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(raggedtooth shark).*', 'raggedtooth shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(silky shark).*', 'silky shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(juvenile shark).*', 'juvenile shark', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(4).*', 'shark not confirmed', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(shark involvement not confirmed).*', 'shark not confirmed', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(6).*', 'shark not confirmed', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(5).*', 'shark not confirmed', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(9).*', 'shark not confirmed', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(1).*', 'shark not confirmed', regex=True)
C:\Users\fezin\AppData\Local\Temp\ipykernel_69260\184435640.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_2015['Species']=shark_2015['Species'].str.lower().str.replace('.*(3).*', 'shark not confirmed', regex=True)

In [499]:
shark_2015['Species'].unique()

array(['white shark', 'silky shark', 'shark not confirmed',
       'bronze whaler shark', 'tiger shark', nan, 'bull shark',
       'galapagos shark', 'spinner shark', 'no shark involvement',
       'hammerhead shark', 'blacktip shark', 'juvenile shark',
       'small shark', 'mako shark', 'shark involvement not cofirmed',
       'wobbegong shark', 'blue shark', 'raggedtooth shark'], dtype=object)

In [500]:
shark_2015['Species'].value_counts().reset_index().rename(columns= {'Genero': 'Species', 'index':'Count'}).head(5)

                  Count  Species
0   shark not confirmed       30
1           white shark       26
2            bull shark       12
3           tiger shark        8
4  no shark involvement        4

### Qual a porcentagem de homens e mulheres atacados?

In [394]:
(shark_2015['Genero'].value_counts(normalize=True)*100).round(2).reset_index().rename(columns= {'Genero': '%', 'index':'Genero'}).head(5)

    Genero      %
0     Male  79.72
1   Female  18.88
2  Unknown   1.40

### Qual a porcentagem de fatalidade?

In [402]:
(shark_2015['Fatal (Y/N)'].value_counts(normalize=True)*100).round(2).reset_index().rename(columns= {'Fatal (Y/N)': '%', 'index':'Tipo'}).head(5)

      Tipo      %
0        N  84.62
1  Unknown   9.09
2        Y   6.29